body{
  margin-top:200px;
  margin-left: 300px;
}
#octopus{
  position: relative;
  left: 100px;
  top: 0px;
  z-index: -1;
}
#glasses{
  position: relative;
  left: 140px;
  top: -360px;
  z-index: 1;
}
#hat{
  position: relative;
  left: 100px;
  top: -400px;
  z-index: 2;
}