body{
  background-color: pink;
  color: white;
  font-family: helvetica;
}
.cowabunga{
  background-color: orange;
  border: 10px solid white;
  font-style: italic;
}
h1:hover{
color: red;
}
h1{
  letter-spacing: 0.125em;
}
th{
  text-decoration: underline;
}
tr:nth-child(even){
  background: #CCC
}